@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


.App {
  width: 100%;
  height: 120vh;
  font-family: "Montserrat", sans-serif;
 
  
  
  svg {
    height: 100%;
  }
}

.spacer {
  height: 2rem;
}

.bubble-wrap {
  display: flex;
  flex-direction: column;
}

.colors-wrap {
  height: 100%;
  width: 40%;
  padding:2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    text-align: start;

    li {
      cursor: pointer;
      padding:0.2rem 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}

.delete {
  color: rgb(216, 87, 87);
}

.color-box {
  height: 16px;
  width: 16px;
  border: 1px lightgray solid;
  margin-right: 36px;
}




.nav-bar{
  display:flex;
  justify-content: space-between;
  width:15%;
  padding:2rem;
  

}

.bubble-pg{
  width:100%;
  height:50vh;
  
}

.bubble-view{
  display:flex;
  justify-content: space-between;
  width:75%;
  margin:auto;
  
}

.form{
  width:60%;
  
}

.login-form{
  display:block;
  margin:auto;
  width:70%;
}

.title{
  text-align:center;
}

#loader{
  position:absolute;
  margin: 30vh 50vw;

}

legend{
  font-weight: bolder;
}